fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt>=4.0.1,<5
python-multipart
python-dotenv
sqlmodel
alembic
google-generativeai
groq
